__pycache__
__pycache__/*
app/__pycache__
app/__pycache__/*
app/alias/__pycache__
app/alias/__pycache__/*
app/api/__pycache__
app/api/__pycache__/*
app/db_import/__pycache__
app/db_import/__pycache__/*
/raw_data*
*.pyc
.flaskenv
.env
cache/*
.coverage
.coverage/*
db/donation-whistle.db
migrations
migrations/*
migrations/versions
migrations/versions/*
