
{% extends "base.html" %}

{% block app_content %}
  <h1>Alias detail: {{ alias.name }}</h1>
  <form action="" method="POST">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-sm-2">
        {{ form.alias_name.label(class_="col-form-label") }} 
      </div>
      <div class="col-sm">
        {{form.alias_name(class_="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ form.note.label(class_="col-form-label") }}
      </div>
      <div class="col-sm">
        {{form.note(class_="form-control") }}
      </div>
    </div>
    <br>
    {{ form.submit(class_="btn btn-primary") }} 
    <a href="{{ url_for('alias.delete_alias', id=alias.id)}}" class="btn btn-primary">
      Delete alias
    </a>
  </form>
  <br>
  <p>
    This alias applies to:
  </p>

  {% for donor in alias.donors %}
    <h2> {{ donor.name }} </h2>
    <p><a href="{{ url_for("alias.remove_alias", alias_id=alias.id, donor_id=donor.id) }}">Remove donor from alias</a></p>
      <table class="table">
      <thead>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      {% for donation in donor.donations %}
        <tr>
          <td> {{ donation.recipient.name }} </td>
          <td> £{{ '{:,.2f}'.format(donation.value) }} </td>
          <td> {{ donation.date.strftime("%-d %B %Y") }} </td>
        </tr>
      {% endfor %}
      </table>
  {% endfor %}
  
{% endblock %}

{% block scripts %}
{% endblock %}
