{% extends "base.html" %}

{% block app_content %}
  <h1>Aliases</h1>
  <p>
    Every time a political party reports a donation to the Electoral Commission, the
    Commission simply reports the donation under that name. The Commission does not
    perform any consolidation between multiple variations of the same donor (eg "Lord
    David Sainsbury" and "Lord Sainsbury of Turville" would have multiple records), whether
    between different political parties or to the same political party, so it is
    hard to establish how much any individual donor has given over time.
  </p>
  <p>
    The below buttons will allow you customise how Donation Whistle performs
    this consolidation. You can click 'New Alias' to add a name and note to unaliased
    donors, or click on the name of an already-grouped alias to either delete an alias
    (ie reset the relevant donors back to individual donors) or amend or reset them.
  </p>

  <a href="{{ url_for('create_new_alias') }}">
    <button type="button" class="btn btn-primary" >
      Create new alias
    </button>
  </a>

  <br><br>
  
  <h2>Grouped aliases</h2>
    <ul>
      {% for alias in grouped_aliases %}
        <li>
          <a href="{{ url_for("alias", id=alias.id) }}">{{ alias.name }}</a>,
          which refers to:</li>
          <ul>
            {% for donor in alias.donors %}
              <li>{{ donor.name }} </li>
            {% endfor %}            
          </ul>
      {% endfor %}      
    </ul>

  <h2>Ungrouped donors</h2>
    <ul>
      {% for alias in ungrouped_aliases %}
        <li>{{ alias.name }} </li>
      {% endfor %}
    </ul>
    Click here to group any of these aliases into new aliases

{% endblock %}

{% block scripts %}
{% endblock %}
