{% extends "base.html" %}

{% block app_content %}
  <h1>Aliases</h1>
  <p>
    When a political party reports a donation to the Electoral Commission, the
    Commission simply reports the donation under that name. It does not
    consolidate multiple variations of the same donor (eg "Lord
    David Sainsbury" and "Lord Sainsbury of Turville" would have multiple records). Nor
    does it consolidate the same donor's record between different political parties.
    This makes it difficult to understand how much any individual donor has given over time.
  </p>
  <p>
    The below buttons allow you to decide how Donation Whistle consolidates donor
    records. 'New Alias' adds a name and note to unaliased donors. Click on the name of
    an already-grouped alias to either change the alias or reset it (turn it back to an
    individual donor). With 'Import/Export Aliases', you can export this instance of
    Donation Whistle's aliases, either as a backup or to share your aliases with another
    instance. This also helps you import the aliases from a different instance of Donation Whistle.
  </p>

  <a href="{{ url_for('alias.create_new_alias') }}">
    <button type="button" class="btn btn-primary" >
      Create new alias
    </button>
  </a>
  <a href="{{ url_for('alias.port') }}">
    <button type="button" class="btn btn-primary" >
      Import/export aliases
    </button>
  </a>

  <br><br>
  
  <h2>Grouped aliases</h2>
    <ul>
      {% for alias in grouped_aliases %}
        <li>
          <a href="{{ url_for("alias.alias", id=alias.id) }}">{{ alias.name }}</a>,
          which refers to:</li>
          <ul>
            {% for donor in alias.donors %}
              <li>{{ donor.name }} </li>
            {% endfor %}            
          </ul>
      {% endfor %}      
    </ul>

  <h2>Ungrouped donors</h2>
    <ul>
      {% for alias in ungrouped_aliases %}
        <li>{{ alias.name }} </li>
      {% endfor %}
    </ul>
    Click here to group any of these aliases into new aliases

{% endblock %}

{% block scripts %}
{% endblock %}
