{% extends "base.html" %}

{% block app_content %}

  <h1>Import/export aliases</h1>

  <div class="row">
      <p>
        Here, you can either download the aliases in the database as a JSON file 
        or upload a previously exported JSON file. When uploading, each donor's name
        is used to find the relevant alias.
      </p>
      <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
            {{ form.json(class_="form-control", type_="file") }}
            {% for error in form.errors %}
              <span style="color: red; font-style: italic">{{ error }}</span>
              <br>
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-primary">
              Import (overwrites all existing aliases!)
            </button>
      <a href="{{ url_for('alias.export_aliases') }}" class="btn btn-primary">
        Export as JSON
      </a>
      </form>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
