<!DOCTYPE html>
  <html>
      <head>
        <title>
          {{ title }} - Donation Whistle
        </title>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <style>
        [data-column-id="amount"] {
            text-align: right;
          }
        [data-column-id="legacy"] {
            text-align: center;
          }
        .gridjs-th-content {
          text-align: left;
        }
        .filter-box {
          margin-bottom: 3px;
        }
      </style>
    {% block head %}
    {% endblock %}
      </head>

  {% block navbar %}
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"> Donation Whistle </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.recipients') }}">Recipients</a>
            </li>
            <a class="nav-link" href="{{ url_for('main.donors') }}">Donors</a>
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('alias.aliases') }}">Aliases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('db_import.dl_and_import') }}">Data import</a>
              </li>
              <li><a class="nav-link" href="{{ url_for('main.logout') }}">Log out</a></li>
            {% else %}
              <li><a class="nav-link" href="{{ url_for('main.login') }}">Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
  </div>

    <link rel="manifest" href="/static/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>       
  {% block scripts %}
  {% endblock %}

</html>
