{% extends "base.html" %}

{% block app_content %}
  <h1>Create a new alias</h1>
  <p>
    Every time a political party reports a donation to the Electoral Commission, the
    Commission simply reports the donation under that name. The Commission does not
    perform any consolidation between multiple variations of the same donor (eg "Lord
    David Sainsbury" and "Lord Sainsbury of Turville" would have multiple records), whether
    between different political parties or to the same political party, so it is
    hard to establish how much any individual donor has given over time.
  </p>
  <p>
    Below, you can assign aliases to group together any donors who do not currently have
    an alias. If you need, click this TODO: modify filters. TODO: a more info view which
    includes company number and total gifts to each party.
  </p>
  
  <form action="/aliases" method="post" id="aliasForm">
    <button type="button" class="btn btn-inactive" id="submitButton">
      <span id="submitLabel">
        Select multiple donors to apply an alias
      </span>
    </button>
    <button type="button" class="btn btn-secondary" id="clearButton">
      Clear selections
    </button>
  </form>

 <input class="form-control" type="text" id="filterBox" onkeyup="filterDonors()" placeholder="Filter donors...">

  <div class="list-group">
    {% for alias in ungrouped_aliases %}
      <a href="#/" class="list-group-item list-group-item-action" data-id="{{alias.id}}">
        {{ alias.name }} 
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const submitButton = document.getElementById('submitButton');
    const clearButton = document.getElementById('clearButton');
    const selectedAliases = [];
    const aliases = document.querySelectorAll('.list-group-item');
    const submitLabel = document.getElementById('submitLabel');
    
    // Script for clicking a list item
    aliases.forEach(alias => {
      alias.addEventListener('click', () => {
        const clickedItem = event.target;
        if (clickedItem.closest('.list-group')) {
          alias.classList.toggle("active");
          const aliasId = alias.getAttribute('data-id');
          if (alias.classList.contains('active')) {
            selectedAliases.push(aliasId);
          } else {
            // Check the selected alias is in selectedAliases before trying to remove it
            const index = selectedAliases.indexOf(aliasId);
            if (index !== -1) {
              selectedAliases.splice(index, 1);
            }
          }
          updateSubmitButton();
        }
      })
      });

    // Script for clicking the submit button
    submitButton.addEventListener('click', () => {
      if (selectedAliases.length > 1) {
        const queryParams = new URLSearchParams({
          selected_donors: JSON.stringify(selectedAliases) 
        });
        window.location.href = `/new_alias_name?${queryParams}`;
      }
    })

    clearButton.addEventListener('click', () => {
      const items = document.getElementsByClassName('active')
      while (items.length > 0) {
        const item = items[0];
        items[0].classList.remove('active')
        const index = selectedAliases.indexOf(item.getAttribute('data-id'));
        if (index !== -1) {
          selectedAliases.splice(index, 1);
        }
      }
      updateSubmitButton();
    })

    function filterDonors() {
      var items = document.getElementsByClassName('list-group-item');
      var input = document.getElementById('filterBox').value.toUpperCase(); 

      for (var i = 0; i < items.length; i++) {
        if (items[i].textContent.toUpperCase().indexOf(input) > -1) {
          items[i].style.display = "";
        } else {
          items[i].style.display = "none";
        }
      }
    }

    function updateSubmitButton() {
      const selectedCount = selectedAliases.length;
      // Update save button
      if (selectedCount > 1) {
        submitLabel.textContent = `Save alias for ${selectedCount} donors`;
        submitButton.classList.remove('btn-inactive');
        submitButton.classList.add('btn-primary');
      }
      else if (selectedCount <= 1) {
        submitLabel.textContent = "Select multiple donors to apply an alias";
        submitButton.classList.remove('btn-primary');
        submitButton.classList.add('btn-inactive');
      }
    }

  </script>
{% endblock %}
