{% extends "base.html" %}

{% block app_content %}
  <h1>Create a new alias</h1>
  <p>
    Every time a political party reports a donation to the Electoral Commission, the
    Commission simply reports the donation under that name. The Commission does not
    perform any consolidation between multiple variations of the same donor (eg "Lord
    David Sainsbury" and "Lord Sainsbury of Turville" would have multiple records), whether
    between different political parties or to the same political party, so it is
    hard to establish how much any individual donor has given over time.
  </p>
  <p>
    Below, you can assign aliases to group together any donors who do not currently have
    an alias. If you need, click this TODO: modify filters.
  </p>
  
  <form action="/aliases" method="post" id="aliasForm">
    <button type="button" class="btn btn-primary" id="submitButton">
      Save alias for group of <span id="aliasCount">0</span> donor names
    </button>
    <button type="button" class="btn btn-secondary" id="clearButton">
      Clear selections
    </button>
  </form>

 <input class="form-control" type="text" id="filterBox" onkeyup="filter_donors()" placeholder="Filter donors...">

  <div class="list-group">
    {% for alias in ungrouped_aliases %}
      <a href="#/" class="list-group-item list-group-item-action" data-id="{{alias.id}}">
        {{ alias.name }} 
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const submitButton = document.getElementById('submitButton');
    const clearButton = document.getElementById('clearButton');
    const selectedAliases = [];
    const aliases = document.querySelectorAll('.list-group-item');
    const aliasCount = document.getElementById('aliasCount');
    
    aliases.forEach(alias => {
      alias.addEventListener('click', () => {
        const clickedItem = event.target;
        if (clickedItem.closest('.list-group')) {
          alias.classList.toggle("active");
          const aliasId = alias.getAttribute('data-id');
          if (alias.classList.contains('active')) {
            selectedAliases.push(aliasId);
          } else {
            // Check the selected alias is in the selectedAliases array before trying to remove it
            const index = selectedAliases.indexOf(aliasId);
            if (index !== -1) {
              selectedAliases.splice(index, 1);
            }
          }
          const selectedCount = selectedAliases.length;
          aliasCount.textContent = selectedCount;
        }
      });
    })

    submitButton.addEventListener('click', () => {
      const queryParams = new URLSearchParams({
        selected_donors: JSON.stringify(selectedAliases) 
      });
      window.location.href = `/new_alias_name?${queryParams}`;
    })

    clearButton.addEventListener('click', () => {
      const items = document.getElementsByClassName('active')
      while (items.length > 0) {
        const item = items[0];
        items[0].classList.remove('active')
        const index = selectedAliases.indexOf(item.getAttribute('data-id'));
        if (index !== -1) {
          selectedAliases.splice(index, 1);
        }
      }
      const selectedCount = selectedAliases.length;
      aliasCount.textContent = selectedCount;
    })

    function filter_donors() {
      var items = document.getElementsByClassName('list-group-item');
      var input = document.getElementById('filterBox').value.toUpperCase(); 

      for (var i = 0; i < items.length; i++) {
        if (items[i].textContent.toUpperCase().indexOf(input) > -1) {
          items[i].style.display = "";
        } else {
          items[i].style.display = "none";
        }
      }
    }

  </script>
{% endblock %}
