{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block app_content %}
  <h1>All donations</h1>
  <form action="/" method="POST"> {{ form.csrf_token }}
  <div class="row">
    <div class="col-md-4">
      <strong>Recipients</strong><br>
      <div class="filter-box form-check form-switch">
        {{ form.recipient_labour_party(class_="form-check-input") }} 
        {{ form.recipient_labour_party.label }}<br>
        {{ form.recipient_conservative_and_unionist_party(class_="form-check-input") }} 
        {{ form.recipient_conservative_and_unionist_party.label }} <br>
        {{ form.recipient_liberal_democrats(class_="form-check-input") }} 
        {{ form.recipient_liberal_democrats.label }} <br>
        {{ form.recipient_scottish_national_party_snp(class_="form-check-input") }} 
        {{ form.recipient_scottish_national_party_snp.label }} <br>
        {{ form.recipient_green_party(class_="form-check-input") }} 
        {{ form.recipient_green_party.label }} <br>
        {{ form.recipient_reform_uk(class_="form-check-input") }} 
        {{ form.recipient_reform_uk.label }} <br>
        {{ form.recipient_other(class_="form-check-input") }} 
        <span data-bs-toggle="tooltip" data-bs-title="Includes all other parties,
          including the DUP, Plaid Cymru, Alba and Sinn Féin">
          {{ form.recipient_other.label }}<b><sup>?</sup></b>
        </span> <br>
      </div>
      <strong>Legacy</strong><br>
      <div class="filter-box form-check form-switch">
        {{ form.is_legacy_true(class_="form-check-input") }} {{ form.is_legacy_true.label }} <br>
        {{ form.is_legacy_false(class_="form-check-input") }} {{ form.is_legacy_false.label }} <br>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Donor types</strong><br>
      <div class="filter-box form-check form-switch">
        {{ form.donor_type_individual(class_="form-check-input") }} 
        {{ form.donor_type_individual.label }} <br>
        {{ form.donor_type_company(class_="form-check-input") }} 
        {{ form.donor_type_company.label }} <br>
        {{ form.donor_type_limited_liability_partnership(class_="form-check-input") }} 
        {{ form.donor_type_limited_liability_partnership.label }} <br>
        {{ form.donor_type_trade_union(class_="form-check-input") }} 
        {{ form.donor_type_trade_union.label }} <br>
        {{ form.donor_type_unincorporated_association(class_="form-check-input") }} 
        {{ form.donor_type_unincorporated_association.label }} <br>
        {{ form.donor_type_trust(class_="form-check-input") }} 
        {{ form.donor_type_trust.label }} <br>
        {{ form.donor_type_friendly_society(class_="form-check-input") }} 
        {{ form.donor_type_friendly_society.label }} <br>
        {{ form.donor_type_other(class_="form-check-input") }}
        <span data-bs-toggle="tooltip" data-bs-title="Disabled by default. Comprises
          public funds (not gifts so much as statutory obligations) and impermissible
          donors. Learn more at Will Thong's blog (linked in the footer).">
          {{ form.donor_type_other.label }}<b><sup>?</sup></b>
        </span> <br>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Donation types</strong><br>
      <div class="filter-box form-check form-switch">
        {{ form.donation_type_cash(class_="form-check-input") }} {{ form.donation_type_cash.label }} <br>
        {{ form.donation_type_non_cash(class_="form-check-input") }} 
        <span data-bs-toggle="tooltip" data-bs-title="Mostly gifts-in-kind, such as
          seconded staff members or paying for the hosting of events which benefit a
          political party.">
          {{ form.donation_type_non_cash.label }}<b><sup>?</sup></b>
        </span> <br>
        {{ form.donation_type_visit(class_="form-check-input") }} {{ form.donation_type_visit.label }} <br>
        {{ form.donation_type_exempt_trust(class_="form-check-input") }} 
        <span data-bs-toggle="tooltip" data-bs-title="Defined in the Political Parties, Elections and 
          Referendums Act 2000 s162 as trusts which were either created pre-1999 or set up 
          by a permissible donor known to the recipient.">
          {{ form.donation_type_exempt_trust.label }}<b><sup>?</sup></b></span> <br>
        {{ form.donation_type_other(class_="form-check-input") }} 
        <span data-bs-toggle="tooltip" data-bs-title="Disabled by default. Comprises public funds (not 
          gifts so much as statutory obligations) and impermissible donations (these gifts are returned 
          so don't really count). Learn more at Will Thong's blog (linked in the footer).">
          {{ form.donation_type_other.label }}<b><sup>?</sup></b> </span> <br>
      </div>
      <div class="filter-box">
        <strong>Dates</strong><br>
        <div class="row">
          <div class="col-md-2"> {{ form.date_gt.label }} </div>
          <div class="col-md"> {{ form.date_gt() }} </div>
        </div>
        <div class="row">
          <div class="col-md-2"> {{ form.date_lt.label }} </div>
          <div class="col-md"> {{ form.date_lt() }} </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <span>
      <button type="submit" class="btn btn-primary" >Apply filters</button> </form>
      <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ url_for('main.index') }}'; return false;">Reset filters</button>
      <br><br>
      <a href="https://youtu.be/dQw4w9WgXcQ?si=jKF2X_3C339C2Ubf" id="csvLink">Export data as CSV</a> (based on currently-applied filters)
      <br><br>
    </span>
    </div>
  <div id="table"></div>
{% endblock %}

{% block scripts %}
  <script type="module">
    import { Grid, html } from "https://unpkg.com/gridjs?module";
    const updateUrl = (prev, query) => {
      // Check if "?" exists in the prev string. If so, find its position. If that
      // position is >= 0, append &, otherwise append ?
      return prev + (prev.indexOf("?") >= 0 ? "&" : "?") + new URLSearchParams(query).toString();
    };
    const currencyFormatter = (value) => new Intl.NumberFormat(
      'en-GB', 
      { 
        style: 'currency', 
        currency: 'GBP', 
        minimumFractionDigits: 2, 
        maximumFractionDigits: 2 
      }
    ).format(value);
    const dateFormatter = (value) => {
      const timestamp = new Date(value);
      const day = timestamp.getUTCDate().toString().padStart(2, '0');
      const month = (timestamp.getUTCMonth() + 1).toString().padStart(2, '0');
      const year = timestamp.getUTCFullYear();
      return `${day}/${month}/${year}`;
    }

    const donorFormatter = (donorName, donorId) => {
      return html(`<a href='donor/${donorId}'> ${donorName}</a>`);
    }
    // Assign filterUrl so that date filters will carry through to recipient pages
    const recipientFormatter = (recipientName, recipientId) => {
      var printName = recipientName;
      var filterAddons = "?{{ api_filter | safe }}"
      if (recipientName == 'Conservative and Unionist Party') {var printName = 'Conservative Party';}
      if (recipientName == 'UK Independence Party (UKIP)') {var printName = 'UKIP';}
      if (recipientName == 'Scottish National Party (SNP)') {var printName = 'SNP';}
      return html(`<a href='recipient/${recipientId}${filterAddons}'> ${printName} </a>`);
    }
    const donorTypeFormatter = (value) => {
      if (value == "Limited Liability Partnership") {return "LLP";}
      return value;
    }

    // Adjust tickboxes and date fields to match filters in api_filter template
    // variable. Also updates CSV export link to match filters.
    window.onload = function() {

      var currentUrl = window.location.href;
      var csvUrl = currentUrl.replace("index","export");
      var oldCsvUrl = document.getElementById("csvLink");
      oldCsvUrl.setAttribute('href', csvUrl);

      const regex = /filter\=([^&]+?)(?:&|$)/g;
      const recipientFilters = [];
      let match;
      while ((match = regex.exec("{{ api_filter }}")) !== null) {
        recipientFilters.push(match[1]);
      }
      if (recipientFilters.length > 0) {
        for (var filter of recipientFilters) {
          if (filter.startsWith("date_gt")) {
            var startDateField = document.getElementById("date_gt")
            startDateField.value = filter.slice(-10)
          } else if (filter.startsWith("date_lt")) {
            var endDateField = document.getElementById("date_lt")
            endDateField.value = filter.slice(-10)
          } else {
            document.querySelector(`input[name="${filter}"]`).checked = true;
          }
        }
      } else {
        document.querySelectorAll('input').forEach(function(checkbox) {
          checkbox.checked = true;
        });
      }
    };

    new Grid({
      columns: [
        { 
          id: 'donor', 
          name: 'Donor', 
          formatter: (_, row) => donorFormatter(row.cells[0].data, row.cells[8].data)
        },
        { 
          id: 'donor_type', 
          sort: false, 
          name: 'Donor Type', 
          formatter: (cell) => donorTypeFormatter(cell)
        },
        { 
          id: 'recipient', 
          sort: false,
          name: 'Recipient', 
          formatter: (_, row) => recipientFormatter(row.cells[2].data, row.cells[7].data) 
        },
        { id: 'date', name: 'Date', formatter: (cell) => dateFormatter(cell) },
        { id: 'type', name: 'Donation Type', sort: false, },
        { id: 'amount', name: 'Amount', formatter: (cell) => currencyFormatter(cell) },
        { 
          id: 'legacy', 
          name: 'Legacy', 
          sort: false,
          formatter: function (cell) { 
            return cell ? "✅" : "❌";
          }
        },
        { id: 'recipient_id', hidden: true },
        { id: 'alias_id', hidden: true },
      ],
      server: {
        url: '/api/data?{{ api_filter|safe }}',
        then: results => results.data,
        total: results => results.total,
      },
      search: {
        enabled: true,
        server: {
          url: (prev, search) => {
            return updateUrl(prev, {search});
          },
        },
      },
      sort: {
        enabled: true,
        multiColumn: true,
        server: {
          url: (prev, columns) => {
            const columnIds = ["donor", "donor_type", "recipient", "date", "type", "value"]
            const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
            return updateUrl(prev, {sort});
          },
        },
      },
      pagination: {
        enabled: true,
        limit: 100,
        server: {
          url: (prev, page, limit) => {
            return updateUrl(prev, {start: page * limit, length: limit})
          },
        },
      },
      resizable: true,
      language: {
        'search': {
          'placeholder': '🔍   Search for a donor...'
        },
      },
    }).render(document.getElementById('table'));

    // Tooltip activation
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(
      tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)
    )
  </script>

{% endblock %}
