{% extends "base.html" %}

{% block app_content %}
  <h1>Sign in</h1>
  <div class="row">
    <div class="col-md-4">
      <form action = "" method="POST">
        {{ form.csrf_token }}
        <p>
          {{ form.username.label }} {{ form.username(size=20) }}
          {% for error in form.username.errors %}
            <span style="color: red; font-style: italic">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.password.label }} {{ form.password(size=20) }}
          {% for error in form.password.errors %}
            <span style="color: red; font-style: italic">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.remember_me.label }} {{ form.remember_me() }}
        </p>
        <p> {{ form.submit() }}
      </form>
    </div>
  </div>
{% endblock %}
