{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4">
      <h1>Sign in</h1>
      <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-floating">
          {{ form.username(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.username.label }}</label>
        </div>
        <div class="form-floating">
          {{ form.password(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.password.label }}</label>
        </div>
        <div class="form-check text-start my-3">
          {{ form.remember_me(class_="form-check-input", type_="checkbox", value_="remember-me", id_="flexCheckDefault") }}
          <label class="form-check-label" for="flexCheckDefault">
            {{ form.remember_me.label }}
          </label>
        </div>
        {{ form.submit(class_="btn btn-primary w-100 py-2", type_="submit") }}
      </form>
    </div>
    <div class="col"></div>
  </div>

{% endblock %}
