{% extends "base.html" %}

{% block app_content %}
  <h1>Confirm new alias creation?</h1>
  <form action="" method="POST">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-sm-2">
        {{ form.alias_name.label(class_="col-form-label") }}
      </div>
      <div class="col-sm-5">
        {{form.alias_name(class_="form-control") }}
      </div>
      <div class="col-sm-5">
        <span id="aliasNameHelpInline" class="form-text">
          You can also click the the donors' names below use their names
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ form.note.label(class_="col-form-label") }}
      </div>
      <div class="col-sm-10">
        {{form.note(class_="form-control") }}
    </div>
    <p> {{ form.submit(class_="btn btn-primary") }} </p>
  </form>
  </div>
  {% for donor in selected_donors %}
    <h2>{{ donor.name }}</h2>
    <table class="table">
      <thead>
        <th >Recipient</th>
        <th >Amount</th>
        <th >Date</th>
      </thead>
      {% for donation in donor.donations %}
        <tr>
          <td> {{ donation.recipient.name }} </td>
          <td> £{{ '{:,.2f}'.format(donation.value) }} </td>
          <td> {{ donation.date.strftime("%-d %B %Y") }} </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script>
    var nameField = document.getElementById('alias_name');
    var allH2 = document.querySelectorAll("h2");

    function replaceNameField(text) {
      console.log(text)
      nameField.value = text;
    }

    for (var heading of allH2) {
      $(heading).wrap('<a href="#" onclick="replaceNameField(\'' + heading.textContent + '\')">');
    }
    
  </script>
{% endblock %}
