{% extends "base.html" %}

{% block head %}
  <head>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
  </head>
{% endblock %}

{% block app_content %}

  <h1>Recipient detail: {{ recipient.name }}<br>
  </h1>
  {% if recipient.deregistered %}
    <p>
      This party has been deregistered as of {{ recipient.deregistered.strftime("%-d %B
      %Y") }}
    </p>
  {% endif %}


  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-secondary" onclick="seeAllGifts()">See
        all gifts</button>
    </div>
    <div class="col-3">
      <form action="/recipient/{{ recipient.id }}" method="POST"> {{ form.csrf_token }}
        <strong>Dates</strong><br>
        {{ form.date_gt.label }}: {{ form.date_gt(size=20) }} <br>
      {{ form.date_lt.label }}: {{ form.date_lt(size=20) }} <br><br>
      <button type="submit" class="btn btn-primary" >Apply filters</button> 
      </form>
    </div>

  </div>
  
  <div class="row">
    <div id="topDonorGraph" style="width:1300px;height:600px;"></div>
  </div>

  <div class="row">
    <div class="col-6">
      <div id="donationSourcesGraph" style="width:500px;height:300px;">
      </div>
    </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    var topDonorGraph = document.getElementById('topDonorGraph');
    var topDonorGraphData = {{ top_donor_graph | safe }};
    Plotly.newPlot(topDonorGraph, topDonorGraphData);

    var donationSourcesGraph = document.getElementById('donationSourcesGraph');
    var donationSourcesGraphData = {{ donation_sources_graph | safe }};
    Plotly.newPlot(donationSourcesGraph, donationSourcesGraphData);

    // Rotate Y axis title
    var yTitle = document.querySelector('.ytitle');
    yTitle.setAttribute('transform', 'rotate(0,' + yTitle.getAttribute('x') + ',' + yTitle.getAttribute('y') + ')');

    // Disable legend interactivity
    document.querySelectorAll('.legendtoggle').forEach(function(toggle) {
      toggle.style.pointerEvents = 'none';
    });

    var filter_url = '{{ url_for('main.index') }}' + "{{ filter_list | safe }}";

    // Update dates to match URL
    const urlParams = new URLSearchParams(window.location.search);
    var dateGt = dateLt = "";

    urlParams.forEach((value, key) => {
      if (key.includes('filter') && value.includes('date_gt_')) {
        filter_url = filter_url + '&filter=' + value
        dateGt = value.replace('date_gt_', '');
      } else if (key.includes('filter') && value.includes('date_lt_')) {
        filter_url = filter_url + '&filter=' + value
        dateLt = value.replace('date_lt_', '');
      }
    });

    // Get references to the input fields
    const dateGtInput = document.getElementById('date_gt');
    const dateLtInput = document.getElementById('date_lt');

    // Set the input fields' values from the URL parameters, converting the format
    dateGtInput.value = dateGt;
    dateLtInput.value = dateLt;

    function seeAllGifts() {
      window.location.href = filter_url; return false;
    };

    // TODO: reset filters button

  </script>
{% endblock %}
