{% extends "base.html" %}

{% block head %}
  <head>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
  </head>
{% endblock %}

{% block app_content %}

  <div id="graph" style="width:1300px;height:1000px;"></div>

  <p> 
    Note: these aggregations by default exclude donor types (building
    societies, public funds, impermissible donors, unidentifiable funds and "N/A" as well
    as donation types (public funds, exempt trusts, donor-exempt trusts, impermissible
    donors and unidentified donors). These are either not really gifts, negligible
    quantities or never benefit the party in question.
  </p>

{% endblock %}


{% block scripts %}
  <script>
    var graph = document.getElementById('graph');
    var figureData = {{ figure | safe }};
    Plotly.newPlot(graph, figureData);

    // Rotate Y axis title
    var yTitle = document.querySelector('.ytitle');
    yTitle.setAttribute('transform', 'rotate(0,' + yTitle.getAttribute('x') + ',' + yTitle.getAttribute('y') + ')');

  </script>
{% endblock %}

