{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <h1>Register a new user</h1>
      <form action = "" method="POST">
        {{ form.csrf_token }}
        <div class="form-floating">
          {{ form.username(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.username.label }}</label>
        </div>
        {% for error in form.username.errors %}
          <span style="color: red; font-style: italic">{{ error }}</span>
        {% endfor %}
        <div class="form-floating">
          {{ form.email(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.email.label }}</label>
        </div>
        {% for error in form.email.errors %}
          <span style="color: red; font-style: italic">{{ error }}</span>
        {% endfor %}
        <div class="form-floating">
          {{ form.password(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.password.label }}</label>
        </div>
        <div class="form-floating">
          {{ form.repeat_password(class_="form-control", placeholder_="") }}
          <label for="floatingInput">{{ form.repeat_password.label }}</label>
        </div>
        {% for error in form.repeat_password.errors %}
          <span style="color: red; font-style: italic">{{ error }}</span>
        {% endfor %}
        <br>
        <div class="form-check">
          {{ form.is_admin(class_="form-check-input", type="checkbox", id="adminCheck") }}
          <span data-bs-toggle="tooltip" data-bs-title="Allows the user to manage other
            users and to perform database imports">
            <label class="form-check-label" for="adminCheck"> 
              {{ form.is_admin.label }} <b><sup>?</sup></b>
            </label>
          </span>
        </div>
        <br>
        {{ form.submit(class_="btn btn-primary w-100 py-2", type_="submit") }}
      </form>
    </div>
    <div class="col"></div>
  </div>

{% endblock %}

{% block scripts %}
  <script type="module">
    // Tooltip activation
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(
      tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)
    )
  </script>
{% endblock %}
